/***************************************
**************Measurements**************
****************************************/
/*projects box 24% each box with 16px padding and 32px margin*/



*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body .margin-top-75{
    margin-top: 75px;
}
body .margin-top-20{
    margin-top: 20px;
}
body .margin-top-95{
    margin-top: 95px;
}
body .margin-top-40{
    margin-top: 40px;
}
body .margin-top-50{
    margin-top: 50px;
}
body .margin-bottom-60{
    margin-bottom: 60px;
}
body .margin-bottom-30{
    margin-bottom: 30px;
}
body .margin-bottom-95{
    margin-bottom: 95px;
}
.header{
    position: fixed;
    z-index: 9999;
    width: 1348px;
    height: 55px;
    background: white;
    box-shadow: 0 4px 4px 0 #ccc;
}
.header-nav{
    width: 100%;
    height: 100%;
}
.link{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 9px;
}
.link a{
    text-decoration: none;
    font-size: 14px;
    font-family: Arapey;
    font-weight: 500;
    color: black;
    padding: 0 5px;
    letter-spacing: 4.5px;
}
.header-link{
    height: 45px;
    margin: 0;
    box-sizing: border-box;
    padding: 10px 20px 10px 15px;
}
.header-link span{
    font-weight: 600;
}
.header-link li{
    list-style-type: none;
    padding: 10px;
}
.header-link li:hover{
    background: #CCCCCC;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.section1{
    position: relative;
    width: 1348px;
    height: 665px;
}
.img-title{
    color: white;
    position: absolute;
    top: 292px;
    left: 526px;
    font-size: 32px;
    letter-spacing: 4.5px;
}
.img-title span{
    width: 88px;
    margin-right: 14px;
    padding: 14px;
    font-weight: 600;
    background: rgba(0,0,0,0.7);
}
.section2{
    width: 1288px;
    margin: 0 auto;
}
.h2{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE; 
}
.img-part1{
    width: 1288px;
    height: 205px;
    margin: 0 auto;
    margin-bottom: 1%;
}
.project-img{
    display: inline-block;
    position: relative;
    width: 24.01%;
    height: 100%;
    margin-left: 0.48%;
    margin-right: 0.49%;
}
.img{
    width: 100%;
    height: 100%;
}
.img-part1 .no-right{
    margin-right: 0;
}
.img-part1 .no-left{
    margin-left: 0;
}
.project-img .project-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 40px;
    background: black;
    color: white;
    text-align: center;
    line-height: 40px;
}
.about{
    width: 1288px;
/*    height: 430px;*/
    margin: 0 auto;
}
.about p{
    margin-top: 20px;
    font-weight: 10px;
    line-height: 1.4;
    
}
.about-img{
    display: inline-block;
    position: relative;
    width: 24.01%;
    height: 200px;
    margin-left: 0.3%;
    margin-right: 0.3%;
}
.img-part2{
    margin-top: 50px;
    height: 450px;
}
.about-img h2{
/*    color: #828282;*/
    margin-top: 22px;
    color: #373737;
    font-weight: 400;
}
.post{
    color: #A4A4A4;
    font-size: 15px;
}
.btn{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background: #eee;
}
.btn:hover{
    background: #A4A4A4;
    cursor: pointer;
}
.img-div{
    width: 310px;
    height: 205px;
    position: relative;
}
/*
.background{
    position: absolute;
    width: 100%;
    height: 205px;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
*/
.contact{
    width: 1288px;
    margin: 0 auto;
}
.contact-us input{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
}
.btn1{
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: black;
    color: white;
    font-size: 15px;
    margin-top: 30px;
}
.btn1:hover{
    background: #CCCCCC;
    color: black;
    cursor: pointer;
}
.grayscale{
    filter: grayscale(80%);
}
.map{
    width: 1288px;
    height: 725px;
    margin: 0 auto;
}


.footer{
    background: black;
    color: #fff;
    width: 1348px;
    height: 85px;
    font-size: 16px;
    line-height: 115px;
    text-align: center;
}